@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

:root {
    --font-family: "Dosis", sans-serif;
    --bg-color: #1B4242;
    --primary-collor: #5C8374;
    --btn-collor: #9EC8B9;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-collor);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 4em;
    margin-top: 20px;
}

h3 {
    font-size: 3em;
    margin-top: 20px;
}

.mensagem {
    font-size: 1.5em;
    margin-top: 40px;
}

.box {
    border: 2px solid var(--primary-collor);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}

.btn-jogar {
    padding: 8px 15px;
    border: 2px;
    background-color: var(--btn-collor);
    border-radius:  5px;
    margin-top: 5px;
}